//font
$primary-font: 'Inter', sans-serif;
$secondary-font: 'Gilroy';

// Primary Colors
$primary-dark-blue: #4bbcd7;
$primary-blue: #27477d;

$primary-color: #808080;
$sliver-white: #f3f3f3;
$dark-gray: #4d5561;
$black: #2d2d29;
$white: #fff;
$red: #8a0b0b;
// Accent Colors
$primary-green: #148f10;

// Other Colors
$color-dark: #232c34;
